@CHARSET "UTF-8";
.mider{
	position:relative;
	width:100%;
	height:800px;
}
.mider .left{
	position:absolute;
	width:200px;
	height:800px;
	top:0;
	left:0;
	background:#555555;
}
.mider .left a{
	color:#fafafa;
}

.mider .center{
	height:800px;
	margin-left:205px;
	margin-right:305px;
	background:white;
}

.mider .right{
	position:absolute;
	width:300px;
	height:800px;
	top:0;
	right:0;
	background:white;
}
.mider .left li{
	padding:10px;
}
.mider .right li{
	padding:10px;
}
